name: PR Tests

on:
  pull_request:
    branches:
      - develop
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      - 
        name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: '3.9.5'
      -
        run: |
          cd python-mysql-sample
          pip install -r requirements.txt
          python test.py